.myBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  gap: 10px;
  margin: 20px 0;
  align-items: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: #e0e0e0;
  }
}

.boxItem {
  flex: 1 0 300px;
  margin: 10px;
}
