.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: #e0e0e0;
  }
  border-radius: 10px;
}

.chairmanData {
  flex: 1 1 350px;
  max-width: 600px;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  color: #333;
}

.image {
  flex: 1 1 300px;
  max-width: 400px;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);

  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}

.MVO {
  color: #2c3e50;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: center;
  border-radius: 5px;
  padding: 25px;
  background-color: #ecf0f1;
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: #bdc3c7;
  }

  & p {
    margin: 0;
    padding: 0.5rem;
  }
}
